In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('geo_pochta_parse\\test.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12373 entries, 0 to 12372
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   street            12373 non-null  object
 1   house             12310 non-null  object
 2   amount_mailboxes  12310 non-null  float64
dtypes: float64(1), object(2)
memory usage: 290.1+ KB

In [3]:
null_list = list(df[df.isnull().any(1)].index)

In [4]:
df = df.drop(null_list)
df.reset_index(inplace = True, drop = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12310 entries, 0 to 12309
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   street            12310 non-null  object
 1   house             12310 non-null  object
 2   amount_mailboxes  12310 non-null  float64
dtypes: float64(1), object(2)
memory usage: 288.6+ KB

In [6]:
df

              street  house  amount_mailboxes
0      пер Армянский  1/8с1               1.0
1      пер Армянский  1/8с2               1.0
2      пер Армянский  1/8с3               1.0
3      пер Армянский    2с1               1.0
4      пер Армянский    2с2               1.0
...              ...    ...               ...
12305    ул Петровка   38с8               1.0
12306    ул Петровка   38с9               1.0
12307    ул Петровка  38с10               1.0
12308    ул Петровка  38с11               1.0
12309    ул Петровка    38Г               1.0

[12310 rows x 3 columns]